<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Whamazon</title>
 <style>
  body{
    background-image: url("static/images/download.jpeg");
    background-size:cover;
    overflow:hidden;
  }
  
  center{
    color:white;
    font-size:40px;
    text-align:center;
    
    
   
  }
 </style>
</head>

<body  style="background-color:#f7f7f7;">
  <div >
  {%if request.user.is_authenticated%}
    {% include "ecom/customer_navbar.html" %}
  {%else%}
    {% include "ecom/navbar.html" %}
  {%endif%}
  <br><br><br>
  <div class="row justify-content-md-center">
   
    <div class="col-md-12 ">
        <center>Hi Nerds</center>
        
    </div>
  
</div>


  </div>
</body>






</html>
